@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #2e343b;
}

header {
    background-color: #07689F;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 28px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    color: #07689F;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

#name, #purpose, #scenarios, #typography, #colors {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

#colors p {
    margin-bottom: 5px;
}

#wireframe {
    text-align: center;
}

#wireframe img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #07689F;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer h3 {
    margin: 5px;
    font-size: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header h1 {
        font-size: 24px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    #typography p {
        font-size: 18px;
    }
}
